<mat-toolbar class="header" color="primary">
  <span>My little IMDB</span>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<mat-toolbar class="footer" color="accent">
  <a mat-button href="https://gitlab.com/Sirius2019-Gushchin-D/Task3B">Source code</a>
</mat-toolbar>
