<mat-card>
  <mat-card-header>
    <mat-card-title><p class="mat-h2">{{film.title}}</p></mat-card-title>
    <mat-card-subtitle>{{film.year}}</mat-card-subtitle>
  </mat-card-header>
  <img style="
              object-fit: cover;
              height: 400px;
              " mat-card-image [src]="film.coverUrl">
  <mat-card-content>
    <p><i class="material-icons">star</i> <span class="mat-h3"> {{film.rating}}</span></p>
    <p><i class="material-icons">flag</i> <span class="mat-h3"> {{film.countries}}</span></p>
    <p><i class="material-icons">mood</i> <span class="mat-h3"> {{film.genres}}</span></p>
  </mat-card-content>
</mat-card>

