<div class="container" style="display: flex">
  <aside style="flex: 20%">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Year ({{yearMin}} - {{yearMax}})
      </mat-expansion-panel-header>
      <p>MIN
        <mat-slider thumbLabel [max]="availableYearMax" [min]="availableYearMin"
                    [(ngModel)]="yearMin"
                    (change)="checkYearRange(true)"></mat-slider>
      </p>
      <p>MAX
        <mat-slider thumbLabel [min]="availableYearMin" [max]="availableYearMax"
                    [(ngModel)]="yearMax"
                    (change)="checkYearRange(false)"></mat-slider>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Genre
      </mat-expansion-panel-header>
      <p *ngFor="let genre of availableGenres">
        <mat-checkbox
          (change)="genreChange(genre, $event.checked);">{{genre}}
        </mat-checkbox>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Country
      </mat-expansion-panel-header>
      <p *ngFor="let country of availableCountries">
        <mat-checkbox (change)="countryChange(country, $event.checked);">
          {{country}}
        </mat-checkbox>
      </p>
    </mat-expansion-panel>
  </aside>
  <section style="flex: 80%">

    <div class="container">
      <mat-form-field style="width: 100%">
        <input matInput type="text" placeholder="Search by title" [(ngModel)]="searchText">
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <i class="material-icons">close</i>
        </button>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-grid-list rowHeight="2:3" [cols]="3">
        <mat-grid-tile
          *ngFor="let film of (films | filter:searchText:yearMin:yearMax:genres:countries | loadRestrict:loadIterations)">
          <app-film-card [film]="film"></app-film-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div style="text-align: center; margin-top: 10px">
        <button
          mat-button
          color="primary"
          class="mat-h2"
          *ngIf="loadIterations * 6 <= (films | filter:searchText:yearMin:yearMax:genres:countries).length"
          (click)="loadIterations = loadIterations + 1;">More
        </button>
      </div>
    </div>
  </section>
</div>
