<div class="center-outer">
  <div class="center-inner">
    <button mat-fab type="button" onclick="document.getElementById('fileToUpload').click()">
      <label for="fileToUpload">
        <i class="material-icons">attachment</i>
      </label>
    </button>
    <span class="mat-title">Открыть CSV файл</span>
    <input id="fileToUpload" (change)="fileChanged($event)" type="file" accept="text/csv"
           style="display:none;">
  </div>
</div>
