@import '~@angular/material/theming';

@include mat-core();
$my-app-primary: mat-palette($mat-green);
$my-app-accent: mat-palette($mat-green, 900);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
