@import "my-theme";

.center-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

body {
  padding: 0;
  margin: 0;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 2%;
}
